$_Pink_Purple: #9c0f48;
$_Dark_Pink: #470d21;

$_Linear_Pink: linear-gradient(to right, $_Pink_Purple, $_Dark_Pink);

$_Light_Grey: #d9d9d9;

$_Light_Pink: #f9e4d4;

$_Light_Black: #404040;

$_Orange: #d67d3e;

$_Dark_Black: #1a1a1a;
