html,
body,
#root {
  height: 100%; }

body {
  background-image: linear-gradient(to right, #9c0f48, #470d21);
  overflow: hidden; }

@keyframes fadeUp {
  0% {
    transform: translateY(100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.calculator-body {
  border-radius: 25px;
  overflow: hidden;
  padding: 10px 15px;
  background-color: #f9e4d4;
  opacity: 0;
  animation: fadeUp 1s forwards; }
  .calculator-body-screen {
    border-radius: 25px;
    background-color: #470d21; }
    .calculator-body-screen p {
      font-size: 40px;
      color: white; }
    .calculator-body-screen h1 {
      font-size: 120px;
      color: #f9e4d4; }

.calculator-button-container {
  border-radius: 25px;
  overflow: hidden; }

.keyboard-layout {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-auto-rows: 20%;
  grid-column-gap: 5%;
  grid-row-gap: 5%; }

.btn-each {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  color: #404040;
  transition: 0.2s; }
  .btn-each:hover {
    background-color: #470d21;
    color: #f9e4d4; }
  .btn-each p {
    font-size: 50px;
    font-weight: bold; }
